.main_changePassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10vh auto;
}

.main_changePassword > h1 {
  font-size: 1.5vw;
  font-weight: 500;
  margin-bottom: 1rem;
}

.main_changePassword .changePassword_form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 20px;
  background-color: white;
  border: 1px solid var(--lightBorder);
  border-radius: 5px;
  padding: 10px 20px;
  width: 30vw;
}

.main_changePassword .changePassword_form .form_group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main_changePassword .changePassword_form .form_group label {
  font-size: 0.8vw;
  opacity: 0.5;
  font-weight: 500;
}

.main_changePassword .changePassword_form .form_group .form_grp_password {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  background-color: white;
  padding: 10px;
}

.main_changePassword .changePassword_form .form_group .form_grp_password input {
  width: 100%;
  font-size: 1vw;
}

.main_changePassword
  .changePassword_form
  .form_group
  .form_grp_password
  button {
  cursor: pointer;
}

.main_changePassword .changePassword_form .form_button {
  background-color: var(--primaryColor);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1vw;
  cursor: pointer;
}
