.forgotPassword_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5vh;
  max-width: 80vw;
  padding: 10vh 0;
  margin: auto;
}

.forgotPassword_main .forgotPassword_title {
  margin: auto;
}

.forgotPassword_main .forgotPassword_title h1 {
  font-size: 2.5vw;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primaryColor);
}

.forgotPassword_main .forgotPassword_form {
  background-color: white;
  border-radius: 10px;
  border: 1px solid var(--borderColor);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 30px;
  width: 30vw;
}

.forgotPassword_main .forgotPassword_form .forgotPassword_form_inputGrp {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 10px;
}

.forgotPassword_main
  .forgotPassword_form
  .forgotPassword_form_inputGrp
  .form_label {
  font-size: 0.9vw;
}

.forgotPassword_main .forgotPassword_form .form_basic_info {
  opacity: 0.6;
  font-size: 1vw;
}

.forgotPassword_main
  .forgotPassword_form
  .forgotPassword_form_inputGrp
  .form_input {
  border: none;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  padding: 10px;
  font-size: 1vw;
  user-select: auto;
}

.forgotPassword_main
  .forgotPassword_form
  .forgotPassword_form_inputGrp
  .form_input:focus {
  outline: none;
  border: 1px solid var(--primaryColor);
}
.forgotPassword_main .forgotPassword_form .form_button {
  background-color: var(--primaryColor);
  width: 100%;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1vw;
  cursor: pointer;
}
.forgotPassword_main .forgotPassword_form .form_button:hover {
  background-color: var(--primaryHoverColor);
}
